@import "tailwindcss";

/* Smooth transition */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #0d1117;
  color: #c9d1d9;
}

body {
  background-color: #0d1117;
  color: #c9d1d9;
}